:root {
  --background-color: #000000;
  --text-color: #ffffff;
  --header-color: #4d4d8f;
  --info-label-color: #4d8f8f;
  --command-color: #4d8f8f;
  --button-background: #4d8d8f;
  --link-color: #4d8f8f;
  --link-hover-color: #00ffff;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Courier New', monospace;
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: 1;
  filter: blur(10px);
  transition: opacity 1s ease-in-out;
  opacity: 0;
}

#portrait-bg {
  background-image: url('portrait-image.jpg');
}

#landscape-bg {
  background-image: url('landscape-image.jpg');
}

body.portrait #portrait-bg {
  opacity: 1;
}

body.landscape #landscape-bg {
  opacity: 1;
}

#terminal {
  flex-grow: 1;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
  padding-bottom: 40px;
  z-index: 2; /* Place terminal above the background */
  /* background: rgba(0, 0, 0, 0.5); */
}

.terminal-container * {
  z-index: 3; /* Ensure text is above the frosted background */
}

#header {
  font-size: 48px;
  margin-bottom: 20px;
  font-weight: bold;
  color: var(--header-color);
}

#content {
  display: flex;
  flex-direction: column;
}

.portofetch-container {
  display: flex;
  margin-bottom: 20px;
  align-items: flex-start;
}

#ascii-art {
  color: var(--text-color);
  font-size: 12px;
  white-space: pre;
  margin-right: 20px;
  flex-shrink: 0;
}

#system-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.info-line {
  margin: 0;
  line-height: 1.5;
}

.info-label {
  color: var(--info-label-color);
  font-weight: bold;
}

#main {
  flex-grow: 1;
}

#input-line {
  display: flex;
  margin-top: 20px;
}

#prompt {
  color: var(--text-color);
  margin-right: 10px;
}

#user-input {
  background: transparent;
  border: none;
  color: var(--text-color);
  font-family: 'Courier New', monospace;
  font-size: 16px;
  flex-grow: 1;
}

#user-input:focus {
  outline: none;
}

.output {
  margin-bottom: 10px;
  white-space: pre-wrap;
}

.command {
  color: var(--command-color);
}

.command-output {
  margin: 0;
  padding: 0;
  font-size: 1em;
}

.button {
  background-color: var(--button-background);
  color: var(--text-color);
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 20px;
}

#switch-to-mobile {
  position: fixed;
  bottom: 30px;
  right: 20px;
  z-index: 1000;
}

.clickable-command {
  color: var(--command-color);
  cursor: pointer;
  text-decoration: underline;
}

.clickable-command:hover {
  color: var(--link-hover-color);
}

.skills-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.skill-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  padding: 0;
}

.skill-item i {
  color: var(--text-color);
  margin: 5px;
  padding: 0;
  font-size: 1.2em;
}

@media (max-width: 768px) {
  #header {
      font-size: 32px;
  }

  .portofetch-container {
      flex-direction: column;
  }

  #ascii-art {
      font-size: 8px;
      margin-right: 0;
      margin-bottom: 20px;
  }

  #terminal {
      padding: 10px;
  }

  #user-input {
      font-size: 14px;
  }
  #footer {
    font-size: 10px;
  }

  #switch-to-mobile {
    bottom: 25px;
  }
}

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  /* background-color: var(--background-color); */
  text-align: center;
  padding: 5px 0;
  font-size: 12px;
  z-index: 1000;
  margin-top: auto;
}

#footer a {
  color: var(--link-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

#footer a:hover {
  color: var(--link-hover-color);
}

#content-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-bottom: 30px;
  box-sizing: border-box;
}